<?xml version="1.0" encoding="UTF-8"?>

<IDataXMLCoder version="1.0">
  <record javaclass="com.wm.data.ISMemDataImpl">
    <array name="StreamingConfiguration" type="record" depth="1">
      <record javaclass="com.wm.data.ISMemDataImpl">
        <value name="name">WxIBMEventStreamsDemo_IBMEventStream_SaaS</value>
        <value name="description">EventStreams Catalogue App</value>
        <value name="package">WxIBMEventStreamsDemo</value>
        <value name="type">Kafka</value>
        <value name="host">https://es-demo-kafka-bootstrap-tools.apps.67eb6a82dbbf3678605ecc92.ap1.techzone.ibm.com:443</value>
        <value name="clientId">jc_</value>
        <value name="other_properties">security.protocol=SASL_SSL
ssl.protocol=TLSv1.2
sasl.mechanism=SCRAM-SHA-512
ssl.enabled.protocols=TLSv1.2
sasl.jaas.config=org.apache.kafka.common.security.scram.ScramLoginModule required username="webmesdemo" password="[*****]" ;
bootstrap.servers=es-demo-kafka-bootstrap-tools.apps.67eb6a82dbbf3678605ecc92.ap1.techzone.ibm.com:443</value>
        <value name="other_runtime_properties">ssl.protocol=TLSv1.2
ssl.enabled.protocols=TLSv1.2
bootstrap.servers=es-demo-kafka-bootstrap-tools.apps.67eb6a82dbbf3678605ecc92.ap1.techzone.ibm.com:443
security.protocol=SASL_SSL
streaming.consumer.validate.consumers.not.greater.than.partitions=true
sasl.mechanism=SCRAM-SHA-512
sasl.jaas.config=org.apache.kafka.common.security.scram.ScramLoginModule required username="webmesdemo" password="[*****]" ;
streaming.client.publish.mode=asynchronous</value>
        <value name="enabled">true</value>
        <value name="securityProtocol">SASL_SSL</value>
        <value name="truststoreAlias">esdemo_ts</value>
        <value name="keystoreAlias"></value>
        <null name="keystoreKeyAlias"/>
        <array name="subjects" type="record" depth="1">
          <record javaclass="com.wm.data.ISMemDataImpl">
            <value name="referenceId">Temperature</value>
            <value name="topicName">Temperature</value>
            <record name="keyCoder" javaclass="com.wm.data.ISMemDataImpl">
              <value name="type">STRING</value>
              <value name="type_display">String</value>
              <record name="parameters" javaclass="com.wm.data.ISMemDataImpl">
                <array name="nameValue" type="record" depth="1">
                  <record javaclass="com.wm.data.ISMemDataImpl">
                    <value name="name">charsetName</value>
                    <value name="value">UTF-8</value>
                  </record>
                </array>
              </record>
              <value name="charsetName">UTF-8</value>
            </record>
            <record name="valueCoder" javaclass="com.wm.data.ISMemDataImpl">
              <value name="type">JSON</value>
              <value name="type_display">JSON</value>
              <record name="parameters" javaclass="com.wm.data.ISMemDataImpl">
                <array name="nameValue" type="record" depth="1">
                  <record javaclass="com.wm.data.ISMemDataImpl">
                    <value name="name">charsetName</value>
                    <value name="value">UTF-8</value>
                  </record>
                  <record javaclass="com.wm.data.ISMemDataImpl">
                    <value name="name">documentTypeName</value>
                    <null name="value"/>
                  </record>
                  <record javaclass="com.wm.data.ISMemDataImpl">
                    <value name="name">schema</value>
                    <null name="value"/>
                  </record>
                </array>
              </record>
              <null name="documentTypeName"/>
              <value name="charsetName">UTF-8</value>
              <null name="schema"/>
            </record>
            <value name="aliasName">WxIBMEventStreamsDemo_IBMEventStream_SaaS</value>
          </record>
        </array>
      </record>
    </array>
  </record>
</IDataXMLCoder>
